.Contact {
    background-color: rgb(206, 224, 246);
    height: 300px;
    align-items: flex;
    align-items: center;
}

.Contact .ContactIcons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Contact .ContactIcons svg path {
    cursor: pointer;
}